  <div class="wrapper--top wrapper--wide" id="top-container">
      <div class="title-slice container">
    <h1 class="title-slice__title">Privacy Policy and Cookies</h1>
  </div>

  <div class="text-slice container">
    <div class="text-slice__text"><p><strong>Introduction</strong><br />
We at It’s Nice That Ltd are committed to ensuring that our website (“It’s Nice That”) is totally secure for you to use. We understand that you want the personal information you give us to be kept private as well as secure. This privacy policy explains how we will use the personal information you give us and how we make sure it is kept secure. If you have any questions about this privacy policy or do not agree with it, please contact us at <a href="mailto:studio@itsnicethat.com">studio@itsnicethat.com</a> or on 0207 739 5222 before using our website.</p>
<p>Our website terms of use available <a href="http://www.itsnicethat.com/terms-conditions">here</a> explain the terms on which you are allowed to use our website. In accordance with the Data Protection Act 1998, It&#8217;s Nice That Ltd is registered as a &#8216;Data Controller&#8217; on the public Register of Data Controllers as maintained by the UK’s Information Commissioner. We may change this privacy notice from time to time by updating this page. You should check this page from time to time to ensure you are happy with any changes.</p>
<p><strong>Collection of Information</strong><br />
We collect personal information from you in a number of situations. When you sign up for our mailing list, we ask for your name and e-mail address. We also collect the personal information that you provide when you request a product or service from us, including when you buy something from our on-line shop (Company of Parrots), when you contact us to get involved in one of our projects, sign up for one of our events or take part in one of our surveys. Finally, we keep a record of communications by email you may have with us.</p>
<p>In addition, when you use our website, please bear in mind that we might also record the areas of the website that you visit and some information about your computer, such as which browser you are using, your network location, the type of connection you are using (eg broadband, ASDL etc) and your IP address.  We do this by using cookies (although the information we gather through our cookies remains anonymous so we cannot tell who you are).  See our Cookies Policy below for more information on what a cookie is and how we use them on our website.</p>
<p><strong>Use of Information</strong><br />
Except as set out in this paragraph, we will never sell, exchange or divulge your personal information to any third party without your consent. We may share your personal information with other companies within the HudsonBec Group Ltd. / It&#8217;s Nice That Ltd. group of companies and with our partners, for example to allow us and them more accurately to target advertising to you. We may disclose your personal information when we believe that it is appropriate in order to comply with the law, or to enforce our terms of use, or to protect our rights, property or safety, our users, or other third parties. We may share your personal information with organisations acting on our behalf who will only use the information to provide that service. We may also share your personal information with a potential purchaser or investor in our business.</p>
<p>The main reason we use the information we collect about you is to provide you with the website and our products or services (whether available via our website or offline).  We will also use your personal information for the purpose of planning and managing It’s Nice That’s business including record keeping, statistical analysis and for tracking activity on It’s Nice That. We may also use your personal information to check you are eligible to register for any sections of our website to which you have requested access, to provide you with that access and with facilities which you have requested, e.g. the ability to post messages or other content. We may send you information about features and services which we believe might be of interest to you.</p>
<p><strong>Marketing</strong><br />
We would like to provide you with information about It&#8217;s Nice That&#8217;s products and services, and other information which we think you may find interesting. We may send you such information by post, email and/or telephone unless you have asked us not to do so. <br />
If you are a customer of ours or you have previously asked us for information on our products and services, we may send you information by email. However, in every marketing email message we send you we will give you the opportunity to unsubscribe from our mailings altogether.</p>
<p>We do not provide your personal information to external organisations (i.e. outside of It&#8217;s Nice That and our group companies) for their own marketing purposes without your explicit consent.</p>
<p>If at any time you do not want your information used for direct marketing purposes please contact us on <a href="mailto:studio@itsnicethat.com">studio@itsnicethat.com</a> or on 0207 739 5222 and if you decide that you no longer wish to receive marketing emails from us, please either follow the unsubscribe link in one of our marketing email messages or contact us <a href="mailto:studio@itsnicethat.com">studio@itsnicethat.com</a> or on 0207 739 5222.</p>
<p><strong>Checking or Updating Personal Information</strong><br />
You may request details of the personal information that we hold about you under the Data Protection Act 1998. If you would like a copy of the information held about you please write to us at It’s Nice That, 21 Downham Road, London N1 5AA or email us at <a href="mailto:studio@itsnicethat.com">studio@itsnicethat.com</a></p>
<p>If you think any information we have about you in incorrect or incomplete, please write to us or email us as soon as possible. We will update any information as soon as we can.</p>
<p><strong>Links</strong><br />
It’s Nice That and our marketing email messages sometimes contain links to other websites which are not within our control. The It’s Nice That privacy policy applies only to It’s Nice That, and not to these other websites. Once you have left our website/marketing email message, we cannot be held responsible for the content of these third party websites or the protection and privacy of any information which you provide to those websites. You should exercise caution and look at the privacy policy applicable to the website in question.</p>
<p><strong>Security</strong><br />
We take the security of your personal information very seriously at It’s Nice That. To prevent unauthorised access or disclosure, your data will be held on a secure server and appropriate security precautions have been put in place to seek to prevent alteration, loss or misuse of data that is under our control. If at any point you suspect or become aware of a security incident (i.e. for example you receive suspicious communication from someone holding themselves out to be an It&#8217;s Nice That Ltd employee or from a dupe website claiming to be affiliated with It&#8217;s Nice That), please forward the communication to us or report the incident by email <a href="mailto:ab@itsnicethat.com">ab@itsnicethat.com</a> or in writing to The Directors, It’s Nice That, 21 Downham Road, London N1 5AA as soon as possible.</p></div>
  </div>

  <div class="text-slice container">
    <div class="text-slice__text"><p><strong>Cookie Policy</strong></p>
<p><strong>The use of Cookies</strong><br />
It’s Nice That uses cookies, which amongst other things, help us to improve your experience of our website and to ensure that it performs as you expect it. Cookies are text files containing small pieces of information which are downloaded to your computer or mobile device. They can improve your experience of using a website, for example, by remembering your preference setting and tracking your use of a website so that it can be improved to meet your needs.  They can also ensure that adverts you see online are more relevant to you and your interests. Websites must get consent to send cookies to your computer or mobile device unless the cookies are strictly necessary to provide services to you. You can change your preferences through your browser at any time by following the instructions on the links below depending on your browser:</p>
<p><a href="http://windows.microsoft.com/en-GB/internet-explorer/delete-manage-cookies#ie=ie-10">Internet Explorer</a>, <a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&amp;redirectslug=Cookies">Firefox</a> , <a href="https://support.google.com/chrome/answer/95647?hl=en&amp;ref_topic=14666">Chrome</a>, <a href="https://support.apple.com/kb/PH17191?locale=en_US">Safari</a>, <a href="https://support.apple.com/en-gb/HT201265">iOS</a></p>
<p>You can withdraw your consent to our cookies at any time even if you have previously consented. Although, please do remember that if you do not consent to some of our cookies, parts of our website will not work and user experience may suffer.</p>
<p>We use…<br />
The information below explains what cookies we use on It&#8217;s Nice That, why we use them and where they come from. We also state in the table whether a cookie is a &#8220;persistent&#8221; or &#8220;session&#8221; cookie. The difference is that:</p>
<ul>
	<li>Persistent cookies remain on your device between browsing sessions. They are activated each time you visit the website that created that particular cookie. For example, where a &#8220;persistent cookie&#8221; is used on a website to remember your log-in details, you will not need to enter those details each time you visit that website.</li>
	<li>Session cookies allow website operators to link the actions of a user during a browser session. A browser session starts when you open the browser window and finishes when you close the browser window. Session cookies are created temporarily. Once you close the browser, all session cookies are deleted.</li>
</ul>
<p>Some of the cookies listed below are those set by It&#8217;s Nice That. However, we also have cookies on It&#8217;s Nice That that are set by third parties. For example, to enable us to have YouTube videos played through our website, YouTube places cookies on our website (for more information about how YouTube or any other of the third parties listed below uses cookies and what information they collect, please visit the links provided).</p>
<p><strong>Cookies set by It’s Nice That</strong></p>
<table class="cookies__table">
<tr>
<th>Cookie</th>
<th>Purpose</th>
<th>Persistent / Session	Expires</th>
</tr><tr>
<td>int_seen_cookie_message</td>
<td>Records that you’ve seen the popup cookies message that appears when you first visit the site</td>
<td>Persistent<br/>1 Year</td>
</tr><tr>
<td>_its_nice_that_session</td>
<td>Records data from one page to the next eg. form data</td>
<td>Session<br/>When browser is closed</td>
</tr>
</table>
<p><strong>Measuring Website Usage (Google Analytics)</strong><br />
We use Google Analytics software to collect information about how you use itsnicethat.com. We use the information to compile reports and to help us improve the site.</p>
<p>Google Analytics stores information about:</p>
<ul>
	<li>the pages you visit on itsnicethat.com</li>
	<li>how long you spend on each itsnicethat.com page</li>
	<li>how you got to the site ?</li>
	<li>what you click on while you’re visiting the site</li>
</ul>
<p>These cookies do not collect information that identifies a visitor. Any information collected by these cookies is anonymous. We only use such information to improve our website.</p>
<table class="cookies__table">
<tr>
<th>Cookie</th>
<th>Purpose</th>
<th>Persistent / Session	Expires</th>
</tr><tr>
<td>_ga</td>
<td>Used to distinguish users.</td>
<td>Persistent<br/>2 Years</td>
</tr><tr>
<td>_gat</td>
<td>Used to throttle request rate</td>
<td>Persistent<br/>10 minutes</td>
</tr>
</table>
<p>For more information on Google Analystics cookies please visit <a href="developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">this link</a></p>
<p>To opt out of being tracked by Google Analytics across all websites visit: <a href="http://tools.google.com/dlpage/gaoptout">tools.google.com/dlpage/gaoptout</a></p>
<p><strong>Advertising Cookies</strong><br />
These cookies are used by our ad provider (DoubleClick for Publishers) to decide which adverts visitors to the site are shown. They allow us to understand whether or not you’ve seen an advert, and how long it is since you’ve seen it. For more information on these cookies please visit the links below:</p>
<p>(Google DoubleClick)<br />
<a href="https://support.google.com/adsense/answer/2839090?hl=enGB">support.google.com/adsense/answer/2839090?hl=enGB</a><br />
<a href="https://www.google.com/policies/technologies/ads/">www.google.com/policies/technologies/ads/</a></p>
<p><strong>Third Party Advertising Cookies</strong><br />
A lot of the advertisements you see on It’s Nice That are provided by other organisations.<br />
We and our authorised third party partners may use device identification, cookies, web beacons, or similar technologies to deliver more relevant advertising and communications to consumers. Such advertisements are generally targeted and served to particular users and may come from third party companies. These companies could include advertising networks, third party advertising servers, media or advertising agencies. We do not provide personal information to anyone for use outside of the services. The companies that generate these cookies have their own privacy  policies, and we have no access to read or write these cookies. These organisations may use their cookies to anonymously target advertising to you on other websites, based on your visit to It’s Nice That.</p>
<p>If you would like an us or our partners to not set or use cookies on your computer or mobile device, you can visit the following site <a href="http://www.aboutads.info/choices/">www.aboutads.info/choices/</a></p>
<p><strong>Third Party Cookies</strong><br />
— Social Media Sharing (AddThis)<br />
So you can easily “Like” or share our content on the likes of Facebook and Twitter we have included<br />
sharing buttons on our site.<br />
<a href="http://www.addthis.com/privacy/">www.addthis.com/privacy/</a></p>
<p>The privacy implications on this will vary from social network to social network and will be<br />
dependent on the privacy settings you have chosen on these networks.</p>
<p><strong>Other Third Party Content Cookies</strong><br />
Our site, like most websites, includes functionality provided by third parties. As a publisher we are embedding content from other sources regularly to enrich your experience. These embedded pieces of content may contain cookies, and listed below are all of the third parties on our site as of 21 February 2016. For details the cookies they use, or if you encounter any that are not on this list, please contact the suppliers directly for further details.</p>
<ul>
	<li>YouTube (<a href="www.youtube.com/static?template=privacy_guidelines">https://www.youtube.com/static?template=privacy_guidelines</a>)</li>
	<li>Disqus (<a href="help.disqus.com/customer/portal/articles/466235-use-of-cookies">https://help.disqus.com/customer/portal/articles/466235-use-of-cookies</a>)</li>
	<li>EventBrite (<a href="www.eventbrite.co.uk/support/articles/en_US/Troubleshooting/eventbrite-cookie-policy?lg=en_GB">www.eventbrite.co.uk/support/articles/en_US/Troubleshooting/eventbrite-cookie-policy?lg=en_GB</a>)</li>
	<li>Vimeo (<a href="https://vimeo.com/cookie_policy">www.vimeo.com/cookie_policy</a>)</li>
	<li>Spotify (<a href="https://www.spotify.com/uk/legal/privacy-policy">www.spotify.com/uk/legal/privacy-policy</a>)</li>
	<li>Google Maps (<a href="https://www.google.com/policies/privacy/">www.google.com/policies/privacy/</a>)</li>
	<li>Sound Cloud (<a href="https://soundcloud.com/pages/privacy">www.soundcloud.com/pages/privacy</a>)</li>
</ul>
<p>Others include<br />
BrightCove, Columbia Records, Ooyala, Giphy, Social Seed, Unruly Media, AnOther, College Humor, Dazed Digital, Funny Or Die, Nowness, Embedly, The Guardian, Scribble Live, Kickstarter, New York Times, BBC, Mix Cloud, Surround Video Stream, Crane TV, Focus Features, Delve Networks, Interlude, Vevo, Daily Motion, Spring Board Platform, Trailer Addict, Warp.net, Viddler, Spine TV, Blip TV</p>
<p>Disabling these cookies will likely break the functions offered by these third parties. In the case of social media, the privacy implications on this will vary from social network to social network and will be dependent on the privacy settings you have chosen on these networks</p>
<p><strong>Find Out More</strong><br />
You can find more information on cookies at <a href="http://allaboutcookies.org">allaboutcookies.org</a><br />
The IAB has provided the following website to give information specifically about privacy issues around Internet advertising: <a href="http://www.youronlinechoices.com/uk/">www.youronlinechoices.com/uk/</a></p>
<p>If you would like to contact us about cookies please email us at <a href="mailto:studio@itsnicethat.com">studio@itsnicethat.com</a></p>
<p>This privacy policy was last updated on 2 March 2016</p></div>
  </div>

  </div>

  <div class="wrapper--middle">
    <div class="wrapper--left wrapper--narrow" id="left-container">
      
    </div>

    <div class="wrapper--right wrapper--narrow" id="right-container">
      
    </div>
  </div>

  <div class="wrapper--bottom wrapper--wide" id="bottom-container">
    
  </div>

    <div class="site-footer-slice">
  <div class="container">
    <div class="site-footer-slice__column">
      <p><strong>It’s Nice That</strong><br />
<a href="https://www.google.co.uk/maps/place/21+Downham+Rd,+London+N1/@51.5390029,-0.0776614,17z/data=!3m1!4b1!4m2!3m1!1s0x48761c96f3701705:0x4a767d9bd360179e">21 Downham Road<br />
London N1 5AA</a></p>
    </div>

    <div class="site-footer-slice__column">
      <p><a href="http://www.twitter.com/itsnicethat">@itsnicethat</a><br />
<a href="tel:+4402077395222">+44 (0)20 7739 5222</a></p>
    </div>

    <div class="site-footer-slice__column">
      <p><a href="/terms-conditions">Terms &amp; Conditions</a><br />
<a href="/privacy-policy">Privacy Policy and Cookies</a></p>
    </div>

    <div class="site-footer-slice__copyright">
      <p>© It’s Nice That 2016</p>
    </div>
  </div>
</div>


<form action="/search" method="get" class="search-form">
  <fieldset class="search-form__fieldset container">
    <input type="search" name="q" class="search-form__field" autocomplete="off">
  </fieldset>
</form>

<div class="cookie-notice">
  <div class="cookie-notice__fixer">
    <div class="cookie-notice__background"></div>
    <div class="cookie-notice__container">
      <div class="cookie-notice__text">
        <p>We use cookies on this website to make your browsing experience better. By using the site you agree to our use of cookies.</p><p><a href="/privacy-policy">Find out more here</a><p>
      </div>
      <div class="cookie-notice__close">Close and don&rsquo;t show again</div>
    </div>
  </div>
</div>