// Sanitation //
hr{
  border: 1px solid;
  margin: -1px 0;
}
html, body, .wrapper, { box-sizing: border-box; height: 100%; margin: 0px; padding: 0px }
body, .textMain{
  font-size: $fontSizeBase; 
  line-height: 20px;
  font-family: $fontMain; 
  font-weight: 300;
  color: $colourFont;   
}
body{ 
  background: darken($colourBack, 5);
  margin: 0; 
  padding: 60px 20px 0;
}
h1, h2, h3{ 
  font-family: $fontHead;
  color: $colourHeader;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 40px;
}
h1{
  font-size: $fontSizeHead*2;
  margin-top: 48px;
}
h2{
  font-weight: bold;
  font-size: $fontSizeHead*1.3;
  margin-top: 40px;
}
h3{ 
  font-size: $fontSizeHead;
  line-height: 20px;
}
h3.bigMargin { margin-top: 53px }
h1 a, h2 a, h3 a {
  text-decoration: none;
  color: $colourHeader;
  &:visited { color: $colourHeader }
  &:hover { text-decoration: underline; color: $colourHeader }
}
h4{
  font-size: $fontSizeHead*0.9;
  font-weight: normal;
  line-height: 20px;
  margin-top: 10px;
}
ul { padding: 0 }
li { 
  display: block;
  width: 100%;
  padding: 7px 0;
  font-size: $fontSizeBase*1.125;
  line-height: 24px;
  box-sizing: border-box;
}
p, ul, ol, table, blockquote{
  margin-top: 20px;
  margin-bottom: 20px;
}
ul ul, ol ol, ul ol, ol ul{
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code { line-height: 1 }
sup, sub{
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { top: 0.4em }
time { color: $colourStatsIcon }
.main { 
  min-height: calc(100% - 21px);
  padding: 1px 20px 20px;
  background: $colourBack;
  width: 600px; margin-right: 20px;
  .array > .arrayItem:nth-child(10n+10) { margin-right: -50px }
  & .block +  .block { margin-right: 0 }
}
#navBar .main { background: none }
.block{ 
  width: 290px; margin-right: 20px; margin-left: 20px;
  .arrayItem { margin-right: 10px }
  .array > .arrayItem:nth-child(5n+5) { margin-right: -50px }
}
.block + .block, .main .block:not(.center) { margin-left: 0;}
.blockx2 .block + .block {margin-right: 0;}
.blockx2{ 
  width: 600px; margin-right: 20px;
  .array > .arrayItem:nth-child(10n+10) { margin-right: -50px }
}
.arrayItem{
  display: inline-block;
  width: 50px;
  vertical-align: top;
  text-align: center;
  margin-bottom: 20px;
  line-height: 16px;
}

.spotable, .spotable > .img { transition: -webkit-filter .5s, filter .5s }
.spotable{ 
  display: inline-block;
  vertical-align: top;
  margin: -14px -12px;
  background: radial-gradient(circle closest-side, rgba(255,255,255, 0) 40%, rgba(255,255,255,0) 93%);
  &:hover { background: radial-gradient(circle closest-side, rgba(255,255,255,.8) 60%, rgba(255,255,255,0) 93%) }
}
input:checked + .spotable, .spotable.active { background: radial-gradient(circle closest-side, rgba(255,255,255,.5) 60%, rgba(255,255,255,0) 93%) }
.spotable > .img { filter: brightness(99%) }
.spotable > .img:hover { filter: brightness(140%) }

label.active > svg, input:checked + label > svg { fill: $colourHeader }

a{ 
  color: $colourLink;
  h4.notable{ 
    color: $colourFont;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}
  p.notable{
    margin-top: 10px;
    margin-bottom:0;
    font-size: $fontSizeHead*1.3;
    font-weight: bold;
    text-decoration: none;
  }
}
a:visited { color: $colourLink; }
a:hover{ color: $colourLinkHover }

.animated{
  animation-duration: .4s;
  animation-fill-mode: both;
}
.shake { animation-name: shake }
@keyframes shake{
  0%, 100%      { transform: translateX(0)     }
  15%, 45%, 75% { transform: translateX(-10px) }
  30%, 60%      { transform: translateX(10px)  }
  90%           { transform: translateX(5px)   }
}
.upped { animation-name: upped }
@keyframes upped{
  0% { transform: translateY(150px) }
  100% { transform: translateY(0) }
}
.downed { animation-name: downed }
@keyframes downed{
  0% { transform: translateY(-150px) }
  100% { transform: translateY(0) }
}
.bounceIn { animation-name: bounceIn }
@keyframes bounceIn{
  0%{ transform: scale(.5) translate3d(0,0,0) }
  50%{ transform: scale(1.2) }
  80%{ transform: scale(.95) }
  93%{ transform: scale(1.05) }
  100%{ transform: scale(1) translate3d(0,0,0) }
}

.controls{
  font-size: $fontSizeBase*1.4;
  margin: 20px 0 20px -2px;
  position:relative;
  z-index: 1;
  & > span, label{
    display: inline-block;
    padding: 3px .5em;
    border-radius: $radiusMain;
    cursor: pointer;
    color: $colourLink;
  }
  a { text-decoration: none }
  .selected {
    background: $colourHeader;
    color: white;
  }
  .active:hover, .active { background: $colourHeader; cursor: default; color: white }
  label.active, .active a { color: white }
}
.controls span:hover, .controls label:hover, .tag:hover { color: lighten($colourLink, $lightenOnHover) }
.tag{
  position:relative;
  z-index: 1;
  color: $colourLink;
  text-decoration: none;
  display: inline-block;
  padding: 1px .2em 2px;
  margin: -1px .2em -2px 0;
  border-radius: $radiusMain;
  cursor: pointer;
}
.tags input[type='checkbox'] { display: none }
input[type='checkbox']:checked + .tag{color:white;    background: $colourHeader; }
.checkBox > .icon { display: none }
input[type='checkbox']:checked + .checkBox > .icon { display: inline-block }
.checkBox{ 
  float: right;
  height: 18px;
  width: 18px;
  margin-right: 8px;
  margin-top: 1px;
  background: rgba(0,0,0,.05);
  transition:all $speedDropdown;
  .icon { padding: 0; margin-left: -1px }
}
.notCurrent:hover .checkBox{ background: rgba(255,255,255,.3) }
.darker{ 
  z-index: -1;
  position: fixed;
  background: darken($colourBack,10);
  height: 100%;
  right: 0;
  top: 0;
}
.wrapper { width: 1072px; margin: 0 auto; }

// ------------------------------ ID Blocks ------------------------------ //
.avatar{
  height: 48px;
  width: 48px;
  border-radius: $radiusMain;
  overflow: hidden;
}
.avatar.big { width: 96px; height: 96px; margin-right: 10px }
.avatar.tiny { width:24px; height: 24px; margin: 0 5px; }
.bigPolish, .idBlock{
  vertical-align: top;
  font-size: $fontSizeBase*0.93;
  line-height: $lineHeightSmall;
  p { margin: 0 }
}
.bigPolish{ 
  position:relative;
  width: 96.3px;
  margin: -10px 0 15px;
  text-align: center;
  display:inline-block;
  & > a { display: inline-block }
}
.polish { display: inline-block }
.idBlock > .pic{
  display: block;
  float: left;
  margin-right: 5px;
  overflow: hidden;
}
.bigPolish img{ 
  height: 186px;
  width: 128px;
  margin: -47px -14px 4px;
}
.idBlock.polish > .pic > img { width: 64px; height: 93px; margin-top: -28px; }
.idBlock.user {min-height: 96px }
.idBlock.signature > .pic { margin-top: 3px }
.info { position:relative; z-index: 1;}
.noFlow + .body, .noFlow > .info { margin-left: 53px }
.bottomUp{
  & > .pic{
    display: inline-block;
    float: none;
  }
  .info{
    display: inline-block;
    width: calc(100% - 53px);
    margin-left: 0;
  }
}
.idBlock.polish.bottomUp > .info { width: calc(100% - 64px) }
.idBlock.polish.bottomUp > .pic { margin-right: 0 }
.idBlock.polishStats.bottomUp{
  margin-top: -16px;
  .pic { margin-right: 10px }
  svg.star { width: 70px; height: 70px; fill: $colourSunday }
  & > .info { width: calc(100% - 80px) }
}
.idBlock .inline { margin-right: 7px }
.iconArray > *:not(:last-child){ margin-right: 11px }
.iconArray.withText > *:not(:last-child){ margin-right: 16px }

// ------------------------------ Forms ------------------------------ //
button::-moz-focus-inner { border: 0; padding: 0 }
.searchWrapper{
  display: inline-block;
  position:relative;
  vertical-align: top;
}
.formIndent { margin: 0 -4px 0 -9px }
.formWide50 { 
  width: calc(50% + 9px);
  margin: 34px 0 0 -9px;
}
.search{ 
  display: inline-table;
  width: 100%;
}
form img { vertical-align: middle }
.columnForm{ input, .button, .previewButton { margin-bottom: 5px } }
input, textarea, button, .button, .roundButton{ 
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 1px rgba(0,0,0,.05); 
  &:focus{
    outline: none; 
    box-shadow: 0 0 0 1px $colourMain; 
  }
  &:hover { background: $colourHighlight }
}
input, button, textarea, pre, .button, .previewButton, .roundButton{
  font-family: $fontMain;
  font-size: $fontSizeBase;
  display: block;
  line-height: 44px;
  min-height: 48px;
  min-width: 48px;
  border-radius: $radiusMain;
  border: 0 rgba(0,0,0,0);
  background: $colourForm;
  padding: 2px 10px;
  box-sizing: border-box;
}
#pre{
  background:none;
  line-height: 20px;
  padding:0;
}
input[type=submit], button, .button, .previewButton, .roundButton{
  text-align: center;
  user-select: none;
  color: white;
  background: $colourButton;
  text-decoration: none;
  &:disabled { background: silver }
  .icon{ 
    fill: white;
    vertical-align:middle;
  }
}
.cell.button { padding: 0; vertical-align: middle }
input[name=preview], button[name=preview],.previewButton, .roundButton { background-color: $colourMain }
input[type=submit], button, .button { &:hover { background: lighten($colourButton, $lightenOnHover) } }
input[name=preview], button[name=preview],.previewButton, .roundButton { &:hover { background: lighten($colourMain, $lightenOnHover) } }
input[type=text]{ width: 100% }
textarea.resizable, pre.resizable{
  padding:14px 10px;
  font-family: $fontMain;
  line-height: 20px;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: 0;
}
textarea.resizable{ 
  position: absolute;
  resize: none; 
  width: 100%; 
  height: 100%; 
}
pre.resizable{ min-height: 48px; max-height: 200px; overflow: hidden; visibility: hidden;}
#note {
  textarea, pre { 
    font-size: $fontSizeBase*1.2;
    font-family: $fontMain;
  }
  textarea:not(:focus), textarea:not(:focus) + pre{
    font-size: $fontSizeBase;
    background:none;
    font-family: cursive;
    font-style: italic;
  }
  textarea:hover { background: $colourHighlight }
  pre { max-height: none }
}

button.inField{
  cursor: pointer;
  position: absolute;
  background: none;
  right: -6px;
  top: -3px;
  z-index: 3;
  box-shadow: none;
  .icon { fill: $colourButton; margin-bottom: -5px; background: none }
}
button.inField:focus{ box-shadow: none; outline: none }
button.inField:focus .icon{ fill: white }
.icon.roundButton{
  display: inline-block;
  height: 32px;
  width: 32px;
  min-height: 0;
  min-width: 0;
  border-radius: 50%;
  padding: 7px 6px;
  margin-bottom: -7px;
  margin-top: -8px;
  margin-left: 10px;
  fill: white;
  &:hover { fill: white }
}
.icon.isOk.roundButton{
  position:relative;
  height: 22px;
  width: 22px;
  top: auto;
  left: auto;
  margin: 0 1px 12px -23px;
  padding: 2px;
  border-radius: $radiusMain;
}
.roundButton.important { background-color: $colourBad }
.bigPolish .roundButton{
  position: absolute;
  top: 85px;
  left: 25px;
}
a:hover{
  .button { background: lighten($colourButton, $lightenOnHover) }
  .previewButton, .roundButton { background: lighten($colourMain, $lightenOnHover) }
  .roundButton.important { background-color: lighten($colourBad, $lightenOnHover) }
}
h1, h2 { .icon.roundButton { margin-bottom: -5px }}
.gloss{
  display: block;
  width:48px;
  min-height:48px;
  margin: 13px;
  background: image-url("gloss_samples.png") -4px -2px no-repeat
}
.gloss[for=polish_gloss_type_wax]{ background-position:    -64px  -2px}
.gloss[for=polish_gloss_type_glass]{ background-position:  -126px -2px}
.gloss[for=polish_gloss_type_mirror]{ background-position: -185px -2px}
input:checked + .spotable > .gloss{ background-position-y: -55px}
.tooltip{
  display: none;
  opacity: 0;
  max-width: 200px;
  text-decoration: none;
  font-size: $fontSizeBase; 
  line-height: 20px;
  font-family: $fontMain; 
  font-weight: 300;
  color: $colourFont;  
  bottom: -15px;
  position: absolute;
  padding: 5px 10px;
  z-index: 2;
  background-color: $colourNotepaper;
  border-radius: $radiusMain;
  .tip{
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid $colourNotepaper 10px;
    top: -10px;
    height: 0;
    left: 10px;
    position: absolute;
    width: 0;
  }
}
.tooltip.tippedR{
  right: -3px;
  .tip { left: auto; right: 10px }
}
h1 .tooltip { bottom: -20px }
h2 .tooltip { bottom: -23px }
h3 .tooltip { bottom: -30px }
.voteBox .tooltip { bottom: -28px }
.voteBox svg { pointer-events: none } 
.tipped:hover .tooltip{ 
  display: inline-block;
  animation-duration: .4s;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-name: tippedDown
}

@keyframes tippedDown { 100% { transform: translateY(10px);  opacity: 1 } }

// ----------------------------- Comment ------------------------------ //
.comment{
  position: relative;
  min-height: 48px;
  clear: both;
  margin-bottom: 20px;
  &:first-child{margin-top: 20px }
}
.comment.secondary { padding-left: 36px }
.comment.tertiary { padding-left: 72px }
.voteCounter{
  position: absolute;
  text-align: center;
  padding: 5px 0;
  right: 6px;
  top: -7px;
  width: 36px;
  min-height: 20px;
  z-index: 1;
}
.voteCounter .icon{ position:absolute; display: none; left: 0; opacity: 0; transition: opacity .25s ease-in-out }
.voteUp .icon{top: -35px }
.voteDown .icon{bottom: -35px }
.voteCounter:hover .icon{ display: block; opacity: 1; z-index: 2 }
.vote.negative{color: $colourBad }
.vote.positive{color: $colourGood }

// ------------------------------ Polish ------------------------------ //
#coatsWrapper{
  position: relative;
  width: 125px;
  height: 250px;
  overflow: hidden;
  background-image: image-url('/assets/preview_shadow.png');
}
.previewWrapper {
  overflow: hidden;
  position: relative;
  width: 238px;
  height: 512px;
  border-radius: 40%/9.5%;
  margin-left:28px;
  img { 
    width: 305px;
    height: 572px;
    margin: -56px -32px;
  }
}
.previewWrapper.medium{
  width:106px;
  height:250px;
  margin-left:10px;
  border-radius: 0;
  img{
    width:133px;
    height: 250px;
    margin: 0 0 0 -14px;
  }
}
.previewWrapper.tiny{
  width:32px;
  height:32px;
  border-radius: $radiusMain;
  margin:0;
  img {
    width: 32px;
    height: auto;
    margin: -8px -4px 0 0;
  }
}
.previewWrapper.tiny:hover{
  position: relative;
  overflow: visible;
  img{
    position: absolute;
    width:64px;
    bottom:0;
  }
}
#rating{
  font-size: $fontSizeBase*1.9;
  position:absolute;
  width: 100%;
  text-align: center;
  top:33px;
}
.biggestBottle{
  width: 200px;
  height: 290px;
  margin: -38px -18px 20px -18px;
}
.bottleThumb{
  width: 64px;
  height: 93px;
  margin: -21px 5px 3px;
}
.bottleThumbWrapper{ 
  position:relative;
  margin:-10px -13px 0;
}
.bottleThumbWrapper .roundButton{
  position:absolute;
  top:39px;
  left:11px;
}
// ------------------------------ Local ------------------------------ //
#colourFieldWrapper{}
#referenceFieldsWrapper{top:50%;margin-top:-54px;}
#referenceImageWrapper{
  height: 290px; 
  border-radius: $radiusMain;
  box-sizing: border-box;
  overflow:hidden;
  background: $colourHighlight;
  outline: 3px dashed $colourPlaceholder;
  outline-offset: -10px;
}
#reference, #referenceUploading, #referenceError, #referenceDrop { display: none }
#referenceImage{
  cursor: url('/assets/picker.cur', auto);
  z-index:5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width:130%;
  max-height:130%;
  min-width: 90%;
  min-height: 90%;
}
#boxNameField{ 
  font-family: $fontHead;
  font-size: $fontSizeHead*1.8;
  height: 48px;
  padding-top: 0;
  padding-bottom: 0;
}
#cPreview{
  height: 48px;
  width: 48px;
  border-radius: $radiusMain;
}
#otherLists { margin-top: 14px }
#listForm { display: none }
#listForm.active { display: block }
#note { margin-bottom: -42px }
#boxName.smallMargin { margin-bottom: 20px }

.layer:not(.lBase), .particles{
  background: $colourShadow;
  border-radius: $radiusMain;
  padding:0 6px 6px;
  margin: -6px;
}
.particles{
  position: relative;  
  padding-top: 10px;
  margin-bottom:40px;
  h3 { margin-top: 10px }
  &:after{
    box-sizing: border-box;
    position:absolute;
    display: block;
    content: '';
    height: 30px;
    width: 60px;
    border: 30px solid transparent;
    border-top-color: $colourShadow;
    border-bottom: 0;
    bottom: -30px;
    left: 50%;
    margin-left: -30px;
  }
}
#reference{
  z-index: 3;  
}
#referenceZoom { 
  display:none;
  z-index: 6;
  position:absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: white;
}
#referenceImageZoom{
  position:relative;
  overflow:hidden;
  border-radius: 50%;
  margin: 10px;
  width: 80px;
  height: 80px;  
}
#referenceZoomImage {
  position:absolute;
  image-rendering: pixelated; 
}
#ads { width: 412px; margin-right: 0; margin-left: 0;}
.banners li{
  vertical-align: top;
  display: inline-block;
  margin-bottom: 20px;
  padding:0;
  font-size: $fontSizeBase*0.9;
  line-height: 16px;
  img { margin-bottom:15px }
  span { margin-top: -12px; vertical-align: top; display: block }
  &.w200 > a { width: 200px; float: left; }
  & > a { 
    position:relative;
    display: inline-block; 
    text-align:center;
    margin-left: 12px;
  }
  .hover { position: absolute; top: 0; left: 0; visibility: hidden;}
  & > a:hover .hover { visibility: visible }
  & > a:first-child { margin-left: 0;}
}