.colourPicker{ 
  position:absolute;
  overflow:hidden;
  width:272px;
  padding:9px;
  background-color:$colourHighlight;
  color:#bbb;
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  font-weight:400;
  cursor:default;
  border: 3px solid $colourBack;
  border-radius: $radiusMain*2;
  margin-left:-3px;
  z-index: 5
}
.colourPicker > div{
  position:relative;
  overflow:hidden
}
.cp-xy-slider{
  float:left;
  height:218px;
  width:calc(100% - 54px);
  margin-bottom:6px;
  background:linear-gradient(to right,#FFF,rgba(255,255,255,0))
}
.cp-white{
  height:100%;
  width:100%;
  background:linear-gradient(rgba(0,0,0,0),#000)
}
.cp-xy-cursor{
  position:absolute;
  top:0;
  width:24px;
  height:24px;
  margin:-12px;
  border:2px solid #fff;
  border-radius:100%;
  box-sizing:border-box
}
.cp-z-slider{
  float:right;
  height:218px;
  width:48px;
  background:linear-gradient(red 0,#f0f 17%,#00f 33%,#0ff 50%,#0f0 67%,#ff0 83%,red 100%)
}
.cp-z-cursor{
  position:absolute;
  margin-top:-10px;
  width:100%;
  border:10px solid #fff;
  border-color:transparent #fff;
  box-sizing:border-box
}
.cp-alpha{
  clear:both;
  width:100%;
  height:48px;
  margin-top:6px;
  background: right top image-url("colour_picker.png");
}
.cp-alpha-cursor{
  position:absolute;
  margin-left:-10px;
  height:100%;
  border:10px solid #fff;
  border-color:#fff transparent;
  box-sizing:border-box
}
.cp-xy-cursor, .cp-z-cursor, .cp-alpha-cursor{ transition: border-color 1s }
.cp-disp {padding:10px; margin-bottom:6px; font-size:19px; height:20px; line-height:20px}
.colourBack{
  height: 48px;
  width: 48px;
  margin-bottom: 4px;
}
input.colour{ 
  position:relative; 
  height:48px; 
  width: 0px; 
  padding-left:38px;
  z-index: 0;
}
input.colour:focus { 
  position:absolute;
  width: 290px;
  left:0;
  z-index: 6;
}
input.colour.disabled{ background: image-url("colour_picker.png") #eee !important }

