#navBar{
  user-select: none;
  box-sizing: border-box;
  position: fixed;
  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
  padding: 8px 20px;
  border-top: .1em solid rgba(255,255,255,0.5);
  border-bottom: .1em solid rgba(0,0,0,0.3);
  background: linear-gradient(to bottom, rgba(255,255,255,.1) 0%, rgba(0,0,0,.1) 100%);
  background-color: $colourMain;
  z-index: 10;
  transition: top .6s;
  box-shadow: 0 5px 2px rgba(0,0,0,.12), 0 15px 20px rgba($colourMain,.2);
  a { text-decoration: none }
}
#navBar.unpin { top: -66px }
.menu{
  visibility: hidden;
  position: absolute;
  list-style-type: none;
  color: rgba(0,0,0,.6);
  background-color: white;
  line-height: 36px;
  font-size: $fontSizeBase*1.1;
  border-radius: $radiusMain*2;
  transition:all $speedDropdown;
  display: inline-block;
  margin: -3px;
  padding: 48px 0 0;
  border: 3px solid $colourBack;
  z-index: 5;
  width: 100%;
  overflow: hidden;
  & > li > a, & > li > span, & > li > label{ 
    width: 100%;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    color: rgba(0,0,0,.6);
    transition:color $speedDropdown;
    .icon.option { fill: white }
  }
  & > li.controls > span{ width: auto }
  & > li > span, & > li > label{ box-sizing: border-box }
  a:hover, span:hover, label:hover{
    color: white;
    .iNav, .icon.option { fill: white }
  }
  .switch{ 
    position: absolute;
    padding: 19px 20px; 
    top: 0;
    right: 3px;
    transition:all $speedDropdown;
  }
  a.switch{
    width: auto;
    padding: 9px 7px;
  }
  .iNav { margin-right: 5px; fill: $colourStatsIcon }
  .iPolish { margin: 0 -5px -2px }
  li{ 
    overflow: hidden;
    transition:all $speedDropdown;
    border-radius: $radiusMain;
  }
  .isOk{
    float: right;
    margin: -8px 0 -6px -36px;
    transition:all $speedDropdown;
  }
  .current{
    position:absolute;
    display: block;
    font-size: $fontSizeBase*1.4;
    top: 0;
    left: 0;
    padding: 6px;
    height: 48px;
  }
  .notCurrent{
    height: 0;
    & > a, & > span, & > label { 
      transition:all $speedDropdown;
      display: inline-block; 
      padding: 0px 0 0px 12px; 
      height: 0 }
    -skip-padding: 0 12px;
    padding: 0;
    cursor: pointer;
    .iNav{
      height: 18px;
      width: 18px;
      margin-bottom: 4px;
    }
  }
  .notCurrent:hover{
    background-color: rgba($colourMain,.6);
    color: white;
    a { color: white }
    .icon { fill: white }
  }
  .formLi{
    position:relative;
    z-index:1;
    width: calc(100% - 12px);
    margin: 0 auto;
    height: 0;
    padding: 1px;
    .icon{padding: 0; vertical-align: middle;}
  }
  table { margin: 0 }
}
.menu.hover, .menu.active{
  padding: 51px 3px 3px;
  margin: -6px;
  .current{
    width: calc(100% - 6px);
    top: 3px;
    left: 3px;
  }
}
.menu.active{
  visibility: visible;
  .current{
    span.header { padding-left: 5px }
    a { color: white }
    .iNav { fill: white }
  }
  .notCurrent{ 
    & > a, & > span, & > label { height: 34px; padding: 7px 0 7px 12px }
    -skip-padding: 7px 12px;
    height: auto;
    a:hover .icon { background: none }
  }
  .formLi { height: 50px; margin: 12px auto }
  .formLi.smallMargin { margin-top: 0; margin-bottom: 4px }
}
.menuSpacer{
  height:20px;
  margin-top: 26px;
  margin-bottom:10px;
}
#localeMenu{
  visibility: visible;
  width: 64px;
  .current{
    background-color: rgba($colourMain,.6) ;
    line-height: 42px;
    padding-left: 10px;
  }
  .switch{
    right:0;
    padding: 16px 6px;
    fill: $colourStatsIcon;
  }
}
#localeMenu.hover, #localeMenu.active{
  .current { color:white } 
  .switch {
    right: 3px;
    top: 3px;
    fill: white;
  }
}
#cropMenu{
  top: 0;
  width: auto;
  max-width: 100%;
  padding-top: 3px;
}
#dropMenu.menu{
  visibility: visible;
  position: relative;
  border-color: $colourMain;
  width: 160px;
  .switch { fill: $colourStatsIcon; padding: 16px 6px; }
  .switch:hover { fill: white; background: none }
  .current { background-color: rgba($colourMain,.6) }
  .notCurrent { font-size: $fontSizeBase*1.4; -skip-padding-right: 0 }
}
#dropMenu.menu.active, #dropMenu.menu.hover{
  padding-top: 51px;
  .switch{padding: 19px 9px; fill: white  }
}
#dropMenu.menu.active{  
  padding: 62px 3px 10px;
  li.current { color: white }
  .current .iNav { fill: white }
}
#exportMenu { margin-top: -60px }
.menu.formed{
  left: 0;
  margin: -7px 0 0 -3px;
  &.active, &.hover { margin: -10px 0 0 -6px }
  .notCurrent { padding-right: 12px }
}
.current.formed {
  height: 38px;
  padding: 12px 45px 0 10px;
}
#gather { 
  top: 42px;
}
.option{
  vertical-align: top;
  padding: 6px;
  margin-left: 15px;
  cursor: pointer;
  border-radius: $radiusMain;
}
.active > .option, span:not(.inactive):hover > .option{
  background-color: rgba(255,255,255,.4);
  fill: white;
}
span:hover > .option.logo { background: none }
.notifyWrapper{   
  display: inline-block;
  position: absolute;
  text-align: center;
  margin-top: -7px;
  margin-left: 27px;
  width: 45px;
}
.notify{
  text-align: center;
  background-color: $colourHeader;
  border-radius: $radiusMain;
  font-size: $fontSizeBase*0.9;
  min-width: 14px;
  padding: 4px 7px;
  color: white;
  display: inline-block;
}
.switchHolder { padding: 0 }