$fontMain: 'Roboto', sans-serif;
$fontSizeBase: 12.8px;
$lineHeightSmall: 18.5px;
$speedDropdown: 100ms ease-out;
$radiusMain: 3px;
$lightenOnHover: 10;

$colourBack:        #e4e4e4;
$colourMain:        #a4c03c;
$colourFont:        #2c2c2c;
$colourButton:      #118cd0;
$colourLink:        #0f72a8;
$colourLinkHover:   #1094dd;
$colourTrifling:    #4facdf;
$colourPlaceholder: #a9a9a9;
$colourDeepShadow:  #bebebe;
$colourShadow:      #dadada;
$colourForm:        #eeeeee;
$colourHighlight:   #f6f6f6;
$colourHeader:      #fa626c;
$colourGood:        #279331;
$colourBad:         #e5520c;
$colourSunday:      #fa8900;
$colourNotepaper:   #fdfbe9;
$colourStatsIcon: rgba(0,0,0,.45);
