$('#search').find('input').removeAttr('disabled')
- if @reset
  $('#results').show();
  $('#searchResults').hide();
  $('#searchBrand').find('input').focus();
- else
  $('#results').hide();
  $('#searchResults').show();
  - if @polishes
    - if @polishes.size > 0
      $('#searchResults').html('#{j(render @polishes, add: true).html_safe}');
    - else
      $('#searchResults').html('#{content_tag :p, t('search.nothing'), class: 'centeredText'}');
