$('#filterPolish').val($('#secondarySearchPolish').val());
- if params[:filter_brand]
  - check_boxes = ''
  - params[:filter_brand].each{|b| check_boxes += (check_box_tag('filter_brand[' + b[0] + ']', nil, true, id: nil))}
  $('#filterBrand').html('#{j(check_boxes).html_safe}');
- if @reset
  $('#secondaryResults').show();
  $('#secondarySearchResults').hide();
  $('#secondarySearch').find('input').removeAttr('disabled').focus();
- else
  $('#secondaryResults').hide();
  $('#secondarySearchResults').show();
  - if @polishes
    $('#secondarySearchResults').html('#{j(render @polishes, big_polish: true).html_safe}');
