= image_tag(@polish.reference_url, id: 'reference_image', class: 'wide100')
= text_field_tag :output, '', id: 'output'
:javascript
  $('#reference_image').load(function() {
    $(this).mousemove(function(e) {
      if(!this.canvas) {
        this.canvas = $('<canvas />')[0];
        this.canvas.width = this.width;
        this.canvas.height = this.height;
        this.canvas.getContext('2d').drawImage(this, 0, 0, this.width, this.height);
      }              
      var pixelData = this.canvas.getContext('2d').getImageData(event.offsetX, event.offsetY, 1, 1).data;
      var rgb = 'rgb(' + pixelData[0] + ', ' + pixelData[1] + ', ' + pixelData[2] + ')'
      $('#output').val(rgb).css('background',rgb).focus();
    });
    $(this).on("click", function () {
      $('#output').select();
    });
  });
