- icons = set_nav_icons({'catalogue' => {class: 'current'}})
- icons.keys.each_with_index do |key, i|
  $($('.navOption')[#{i}]).replaceWith('#{j(render_nav_icon(icons, key)).html_safe}');
- if @polishes
  $('#results').html('#{j(render @polishes, big_polish: true, no_vote: true).html_safe}');
initCatalogueIcons();
